.Button {
  background: hsl(180, 100%, 50%);
  border: none;
  border-radius: 6px;
  padding: 4px;
}

.Button:hover {
  background: hsl(180, 100%, 70%);
}

.Button:active {
  background: hsl(180, 100%, 30%);
}
